.layout-container {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #0070f3;
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: red;
}

.home-container {
  text-align: center;
  padding: 20px;
}

.link {
  color: Highlight;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
}

button {
  color: white;
  background: lightgrey;
  border-radius: 6px;
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: grey;
}
