.layout-container {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #0070f3;
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: red;
}

.login-teacher-container {
  text-align: center;
  padding: 20px;
}

p {
  font-size: 18px;
  color: #333;
}

.link {
  color: Highlight;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
}

.link:hover {
  color: darkblue;
}
